<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.template.mapper.IRoleInfoMapper">

    <!--<insert id="addUserRole" parameterType="UserRole">
        INSERT INTO user_role (user_id,role_id)
        VALUES (#{userId},#{roleId})
    </insert>

    <delete id="deleteUserRoleByUserId" parameterType="Integer">
        DELETE
        FROM user_role
        WHERE user_id=#{userId}
    </delete>-->

    <select id="selectAllRoleInfosOrByRoleId" parameterType="Integer" resultType="RoleInfo">
        SELECT *
        FROM role_info
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
        </where>
    </select>

    <select id="findRoleIdByRoleName" parameterType="java.lang.String" resultType="RoleInfo">
        SELECT id
        FROM role_info
        WHERE role_name=#{roleName}
    </select>
</mapper>